body {
  background-color: #fce297;
}

h1 {
  color: #55065e;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.codeblock {
  display:flex;
  width: 100%;
  border: 5px solid #7732a8;
  border-radius: 6px;
  clip-path: inset(0 round 6px);
  color: #2e064a;
  background-color: #e8cffa;
  padding: 10px;
  margin: 20px;
  font-family: italic bold 44px Arial, sans-serif;
}

.contacts {
  display: flex;
  flex: 1;
  width: max-content;
  list-style: none;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  border: 5px solid #7732a8;
  border-radius: 6px;
  clip-path: inset(0 round 6px);
  color: #2e064a;
  background-color: #e8cffa;
  align-items: center;
  justify-content: center;
  font: 26px/2.5 sans-serif;
}
.skills {
  display: flex;
  flex: 1;
  width: max-content;
  list-style: none; 
  padding: 20px;
  gap: 20px;
  border: 5px solid #7732a8;
  border-radius: 6px;
  clip-path: inset(0 round 6px);
  color: #2e064a;
  background-color: #e8cffa;
  align-items: center;
  justify-content: center;
  font: 16px/1.5 sans-serif;
}
.links {
  display: flex;
  flex: 1;
  width: max-content;
  list-style: none; 
  padding: 20px;
  gap: 20px;
  border: 5px solid #7732a8;
  border-radius: 6px;
  clip-path: inset(0 round 6px);
  color: #2e064a;
  background-color: #e8cffa;
  align-items: center;
  justify-content: center;
  font: 16px/1.5 sans-serif;
}
.block-item {
  display: flex;
  flex: 1;
  width: max-content;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
  font: 26px/1.5 sans-serif;
}
.title-h2 {
  color: #7d0a8a;
  text-align: center;
  font-family: italic bold 48px Arial, sans-serif;
}
.round {
  clip-path: circle(50%);
  width: 300px;
  height: 300px;
}
