body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
<style>
  .codeblock {
    border: 5px solid #2196F3;
  }
</style>
