body {
  background-color: #6ffcde;
}

h1 {
  color: #377064;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.codeblock {
  display:flex;
  width: max-content;
  border: 5px solid #7732a8;
  border-radius: 6px;
  clip-path: inset(0 round 6px);
  color: #2e064a;
  background-color: #e8cffa;
  padding: 10px;
  margin: 20px;
  font-family: italic bold 24px Arial, sans-serif;
}
